.ah-banner {
  width: 100%;
  min-height: 150px;
  margin-bottom: 20px;
}

.ah-banner--wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.ah-banner--heading1 {
  background-image: url(../../images/global/paint_stroke_short.png);
  text-align: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  color: white;
  display: inline-block;
  padding: 10px 20px;
}

@media (min-width: 650px) {
  .ah-banner--heading1 {
    padding: 0 35px;
  }
}

.ah-banner--heading2 {
  background-image: url(../../images/home/paint_stroke_large.png);
  text-align: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  color: white;
  display: inline-block;
  padding: 0 20px 0 10px;
}

.ah-banner--home {
  background-image: url(../../images/home/home_heroimage.jpg);
  background-size: cover;
  background-position: 50% 0;
  background-repeat: no-repeat;
}

@media (min-width: 900px) {
  .ah-banner--home {
    min-height: 250px;
  }
}

@media (min-width: 1200px) {
  .ah-banner--home {
    min-height: 350px;
  }
}

.ah-banner--subPage {
  background-image: url(../../images/global/paint_stroke_section_banner.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
