.ah-block {
  max-width: 600px;
  margin: 0rem auto;
  width: 90%;
}

@media (min-width: 800px) {
  .ah-block {
    display: flex;
    max-width: 1150px;
  }
}

.ah-block--content {
  max-width: 670px;
  padding-bottom: 20px;
}

@media (min-width: 800px) {
  .ah-block--content {
    padding: 20px 20px 0 20px;
  }
}

@media (min-width: 800px) {
  .ah-block--fullContent {
    max-width: 1150px;
  }
}

.ah-block--topContent {
  padding: 20px 0;
}

.ah-block--parag {
  padding-bottom: 20px;
}

.ah-block--imgContainer {
  width: 100%;
  max-width: 400px;
  min-width: 250px;
  padding: 20px;
  position: relative;
}

@media (min-width: 800px) {
  .ah-block--imgContainer {
    max-width: 482px;
    padding: 40px 20px;
  }
}

.ah-block--imgContainer img {
  width: 100%;
}

.ah-playIcon {
  max-width: 61px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ah-block--bigScreen {
  display: none;
}

@media (min-width: 800px) {
  .ah-block--bigScreen {
    display: inline-block;
    max-width: 500px;
  }
}

.ah-block--smallScreen {
  padding-top: 0;
}

@media (min-width: 800px) {
  .ah-block--smallScreen {
    display: none;
  }
}
