// //image at the right side
// .ah-block {
//     width: 90%;
//     max-width: 1150px;
//     margin: 1rem auto;
//     display: flex;
//     flex-direction: column;
// }

// // .ah-block--text {
// //   padding-top: 20px;
// // }
// .ah-block--top {
//     @media (min-width: 700px) {
//         padding-bottom: 20px;
//     }
// }

// .ah-block--bottom {
//     display: flex;
//     flex-direction: column;

//     @media (min-width: 700px) {
//         flex-direction: row;
//         justify-content: space-between;
//         //max-width: 1200px;

//         div:nth-child(1) {
//             order: 2;
//         }

//         div:nth-child(2) {
//             order: 1;
//         }
//     }
// }

// .ah-block--text {
//     max-width: 670px;
//     padding-right: 20px;

//     @media (min-width: 700px) {
//         padding-right: 40px;
//     }
// }

// .ah-block--imgContainer--smallScreen {
//     @media(min-width: 700px) {
//         display: none;
//     }
// }

// .ah-block--imgContainer {
//     width: 100%;
//     max-width: 300px;
//     min-width: 100px;
//     //margin: 0 auto;
//     padding: 20px;

//     // @media (min-width: 765px) {
//     //     max-width: 350px;
//     //     padding: 0;
//     // }

//     @media (min-width: 847px) {
//         max-width: 400px;
//     }

//     @media (min-width: 1000px) {
//         max-width: 482px;
//     }

//     img {
//         width: 100%;
//     }
// }
.ah-block {
    max-width: 600px;
    margin: 0rem auto;
    width: 90%;

    @media (min-width: 800px) {
        display: flex;
        max-width: 1150px;
    }
}

.ah-block--content {
    max-width: 670px;

    padding-bottom: 20px;

    @media (min-width: 800px) {
        padding: 20px 20px 0 20px;
    }
}

.ah-block--fullContent {
    @media (min-width: 800px) {
        max-width: 1150px;
    }
}

.ah-block--topContent {
    padding: 20px 0;
}

.ah-block--parag {
    padding-bottom: 20px;
}

.ah-block--imgContainer {
    width: 100%;
    max-width: 400px;
    min-width: 250px;
    padding: 20px;
    position: relative;

    @media (min-width: 800px) {
        max-width: 482px;
        padding: 40px 20px;
    }

    img {
        width: 100%;
    }
}

.ah-playIcon {
    max-width: 61px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.ah-block--bigScreen {
    display: none;

    @media (min-width: 800px) {
        display: inline-block;
        max-width: 500px;
    }
}

.ah-block--smallScreen {
    padding-top: 0;

    @media (min-width: 800px) {
        display: none;
    }
}