.trialCards {
  display: flex;
}

.cardContainer {
  margin: 16px;
  border: 1px solid red;
  padding: 16px;
}

.cardContainer .cardContent {
  margin: 0 auto 16px auto;
  text-align: justify;
}

.cardContainer .cardContent figure {
  text-align: center;
}
