.ah-col5 {
  margin: 1rem auto;
}

.ah-col5 section {
  max-width: 220px;
}

@media (min-width: 480px) {
  .ah-col5 {
    display: flex;
    max-width: 480px;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .ah-col5 section {
    max-width: 200px;
  }
}

@media (min-width: 660px) {
  .ah-col5 {
    max-width: 750px;
  }
}

@media (min-width: 1100px) {
  .ah-col5 {
    max-width: 1150px;
  }
  .ah-col5 .ah-card--notDisplay {
    display: none;
  }
}

.ah-col4 {
  margin: 1rem auto;
}

.ah-col4 section {
  max-width: 250px;
}

@media (min-width: 490px) {
  .ah-col4 {
    display: flex;
    max-width: 600px;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .ah-col4 section {
    min-width: 230px;
  }
}

@media (min-width: 660px) {
  .ah-col4 {
    max-width: 700px;
  }
}

@media (min-width: 1080px) {
  .ah-col4 {
    max-width: 1150px;
  }
}

.ah-col3 {
  margin: 1rem auto;
  padding: 1rem 0;
}

.ah-col3 .ah-card--notDisplay {
  display: none;
}

.ah-col3 section {
  max-width: 340px;
  min-width: 250px;
}

@media (min-width: 654px) {
  .ah-col3 {
    display: flex;
    max-width: 800px;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .ah-col3 .ah-card--notDisplay {
    display: block;
    background-color: transparent;
  }
  .ah-col3 section {
    min-width: 340px;
  }
}

@media (min-width: 1204px) {
  .ah-col3 {
    max-width: 1150px;
  }
  .ah-col3 .ah-card--notDisplay {
    display: block;
    height: 0;
    min-height: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
  }
}

.ah-col2 {
  margin: 0 auto;
}

.ah-col2 section {
  max-width: 300px;
}

@media (min-width: 654px) {
  .ah-col2 {
    display: flex;
    max-width: 700px;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}
