.ah-colWrapper {
  display: flex;
  justify-content: center;
}

.ah-col5 {
  margin: 1rem auto;
}

.ah-col5 section {
  width: 220px;
}

@media (min-width: 560px) {
  .ah-col5 section {
    display: inline-block;
    margin: 0 10px;
  }
}
