.ah-col5 {
  margin: 0 auto;
  display: grid;
  display: -ms-grid;
  grid-template-columns: repeat(1, 1fr);
  -ms-grid-columns: 1fr;
  justify-items: center;
}

.ah-col5 section {
  max-width: 220px;
}

@media (min-width: 430px) {
  .ah-col5 {
    grid-template-columns: repeat(2, 1fr);
    -ms-grid-columns: 1fr 1fr;
  }
  .ah-col5 section {
    max-width: 200px;
  }
}

@media (min-width: 640px) {
  .ah-col5 {
    grid-template-columns: repeat(3, 1fr);
    -ms-grid-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 850px) {
  .ah-col5 {
    grid-template-columns: repeat(4, 1fr);
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
  }
}

@media (min-width: 1060px) {
  .ah-col5 {
    max-width: 1050px;
    grid-template-columns: repeat(5, 1fr);
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}

.ah-col4 {
  margin: 0 auto;
  display: grid;
  display: -ms-grid;
  justify-items: center;
  grid-template-columns: repeat(1, 1fr);
  -ms-grid-columns: 1fr;
}

.ah-col4 section {
  max-width: 230px;
}

@media (min-width: 490px) {
  .ah-col4 {
    grid-template-columns: repeat(2, 1fr);
    -ms-grid-columns: 1fr 1fr;
  }
  .ah-col4 section {
    max-width: 250px;
    min-width: 230px;
  }
}

@media (min-width: 750px) {
  .ah-col4 {
    grid-template-columns: repeat(3, 1fr);
    -ms-grid-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1080px) {
  .ah-col4 {
    max-width: 1050px;
    grid-template-columns: repeat(4, 1fr);
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
  }
}

.ah-col3 {
  margin: 0 auto;
  justify-items: center;
  display: grid;
  display: -ms-grid;
  grid-template-columns: repeat(1, 1fr);
  -ms-grid-columns: 1fr;
}

.ah-col3 section {
  max-width: 300px;
  min-width: 250px;
}

@media (min-width: 640px) {
  .ah-col3 {
    grid-template-columns: repeat(2, 1fr);
    -ms-grid-columns: 1fr 1fr;
  }
  .ah-col3 section {
    min-width: 300px;
  }
}

@media (min-width: 1000px) {
  .ah-col3 {
    padding: 0 20px;
    max-width: 1050px;
    grid-template-columns: repeat(3, 1fr);
    -ms-grid-columns: 1fr 1fr 1fr;
  }
}
