@font-face {
  font-family: regularFont;
  src: url(../fonts/UniversNextPro-Regular.ttf) format(‘truetype’),
    url(../fonts/UniversNextPro-Regular.woff) format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: lightFont;
  src: url(../fonts/UniversNextPro-Light.ttf) format(‘truetype’),
    url(../fonts/UniversNextPro-Light.woff) format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: boldFont;
  src: url(../fonts/UniversNextPro-Bold.ttf) format(‘truetype’),
    url(../fonts/UniversNextPro-Bold.woff) format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: thinFont;
  src: url(../fonts/UniversNextPro-Thin.ttf) format(‘truetype’),
    url(../fonts/UniversNextPro-Thin.woff) format("woff");
  font-style: normal;
  font-weight: normal;
}
