@font-face {
    font-family: regularFont;
    src: url(../fonts/UniversNextPro-Regular.ttf);
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: lightFont;
    src: url(../fonts/UniversNextPro-Light.ttf);
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: boldFont;
    src: url(../fonts/UniversNextPro-Bold.ttf);
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: thinFont;
    src: url(../fonts/UniversNextPro-Thin.ttf);
    font-style: normal;
    font-weight: normal;
}