footer {
  font-family: regularFont;
  font-weight: normal;
  font-size: 14px;
  background-color: #252525;
  padding: 16px 1rem;
  line-height: 18px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

footer .footer-wrapper {
  position: relative;
  color: white;
}

footer .footer-wrapper .privacy-statement {
  transition: opacity 1s ease-in-out;
  opacity: 0;
  height: 0;
  overflow: hidden;
}

footer .footer-wrapper .privacy-statement.expanded {
  margin-bottom: 8px;
  opacity: 1;
  height: auto;
}

footer .footer-wrapper .privacy-statement.expanded h4 {
  font-size: 17px;
  padding-bottom: 8px;
  color: white;
}

footer .footer-wrapper .privacy-statement.expanded p {
  color: #757575;
}

footer .footer-wrapper ul li {
  list-style: none;
  margin-top: 4px;
}

footer .footer-wrapper ul #privacy-statement-btn {
  text-decoration: underline;
  cursor: pointer;
}

footer .footer-wrapper ul .fa-sort-down {
  font-size: 18px;
  margin-left: 5px;
  transition: .1s;
  transform-origin: 50% 75%;
}

@media (min-width: 760px) {
  footer .footer-wrapper ul {
    display: flex;
  }
  footer .footer-wrapper ul li:nth-child(2) {
    order: 1;
    border-right: 1px solid white;
    margin-right: 8px;
    padding-right: 8px;
  }
  footer .footer-wrapper ul li:nth-child(3) {
    order: 2;
  }
  footer .footer-wrapper ul li:nth-child(1) {
    order: 3;
    text-align: right;
    flex-grow: 2;
  }
}
