@import "variables";

// body{
//     //background-color: rgb(215, 244, 247);
//     font-family: 'Open Sans', sans-serif;
// }
nav {
    height: 50px;
}

.menu-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    height: 50px;
    width: 100%;
    padding: 10px;
    z-index: 200;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;

    // right: 0;
    li {
        margin: 0 4px;

        @media (min-width: 1055px) {
            margin: 0 8px;
        }
    }

    .select-language {
        color: #a3a3a3;

        font-family: regularFont;

        span {
            margin-right: 4px;
            display: none;

            @media (min-width: 390px) {
                display: inline;
            }

            @media (min-width: 1055px) {
                margin-right: 8px;
            }
        }
    }
}

.HSBC-logo {
    flex-grow: 2;
}

.HSBC-logo-img {
    width: 100px;
}

.select-language-btn {
    display: inline-block;
    font-size: 14px;

    padding: 8px 16px 8px 8px;
    width: auto;
    box-sizing: border-box;
    font-family: regularFont;
    margin: 0;
    border: 1px solid #aaa;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-image: url("../../images/chevron-down-solid.svg"),
        linear-gradient($grayColor, $grayColor);

    background-color: #ffffff;
    color: #252525;
    background-position: right 4px top 50%, 0 0;
    background-size: 10px auto, 100%;
    background-repeat: no-repeat;
    background-color: $grayColor;

    @media (min-width: 760px) {
        padding: 8px 32px 8px 8px;
        background-position: right 8px top 50%, 0 0;
        background-size: 14px auto, 100%;
    }

    option {
        // background-color: pink;
        font-weight: normal;
    }

    &:hover,
    &:focus {
        color: #000;
        // font-size: 12px;
        background-color: #f3f3f3;
        background-image: url("../../images/chevron-down-solid.svg"), none;
        outline: none;
        border: 1px solid #f3f3f3;
        position: relative;
        top: -2px;
        padding-top: 6px;
        padding-bottom: 10px;
    }

    &::-ms-expand {
        display: none;
    }
}

.menu-icon {
    width: 30px;
    height: 30px;
    //border: 1px solid red;
    background-image: url("../../images/bars-solid.svg");
    background-size: 30px;
    background-position: center;
    background-repeat: no-repeat;
    transition: 0.1s;
    cursor: pointer;
}

.menu-icon.active {
    background-image: url("../../images/times-solid.svg");
    background-size: 20px;
    background-repeat: no-repeat;
}

.main-menu-list {
    z-index: 199;
    position: relative;
    top: -600px;
    height: auto;
    width: 100%;
    position: fixed;
    transition: 0.5s ease-in-out;
    padding: 0 1rem 1rem;
    background-color: $blackColor;

    .main-menu-list-wrapper {
        display: flex;
        flex-direction: column;
        width: 100%;

        @media (min-width: 760px) {
            //color: orange;
        }

        @media (min-width: 1055px) {
            //color:yellowgreen;
            margin: 0 auto;
            flex-direction: row;
            justify-content: center;
        }
    }

    .section-list {
        margin: 8px 0.5rem 0;
        line-height: 18px;
        color: white;

        // @media (min-width:760px){
        //     //max-width: 180px;
        //     margin: 0 .7rem;
        // }
        @media (min-width: 1055px) {
            margin: 0 1rem;
            //max-width: 280px;
        }
    }

    .section-heading {
        font-weight: normal;
        font-size: 19px;
        font-family: lightFont;
        padding: 8px 0;
        // color: $grayColor;
        margin-bottom: 8px;
        border-bottom: 1px solid $grayColor;

        @media (min-width: 760px) {}

        @media (min-width: 1055px) {
            padding: 20px 0 14px;
            margin-bottom: 14px;
        }
    }

    .section-link {
        font-size: 1rem;
        margin: 0px 0px 8px 0;
        color: white;
        text-decoration: none;
        font-family: regularFont;
        line-height: 1.4;
        transition: 0.1s;

        &::after {
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            padding-left: 8px;
            content: "\f054";
            color: $redColor;
            // position: relative;
            // left: 0;
        }

        // &:hover {
        //     position: relative;
        //     top: -2px;
        // }

        @media (min-width: 1240px) {}
    }
}

.main-menu-list.expanded {
    //color: yellow;
    top: 50px;
    // height: auto;
    //transition: cubic-bezier(0.19, 1, 0.22, 1);
}



//=========NEW NEW NEW NEW NEW=============/
// .ah__nav-bar {
//     min-height: 50px;
//     display: flex;

// }

//=========NEW NEW NEW NEW NEW=============/
.ah__menu-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    height: 50px;
    width: 100%;
    padding: 10px;
    z-index: 200;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
}

.ah__menu-bar-item {
    list-style: none;
}

.ah__menu-bar__logo-wrapper {
    flex-grow: 2;
}

.ah__menu-bar__logo {
    width: 100px;
}

.ah__menu-bar__languages-text {
    display: none;
    font-size: 14px;
    font-family: regularFont;
    color: #a3a3a3;

    @media(min-width: 640px) {
        display: inline-block;
    }
}

.ah__menu-bar__select-languages {
    display: inline-block;
    font-size: 14px;
    padding: 8px 16px 8px 8px;
    width: auto;
    box-sizing: border-box;
    font-family: regularFont;
    margin: 0;
    border: 1px solid #aaa;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    color: #252525;
    position: relative;
    background-color: $grayColor;
    margin: 0px 10px;

    @media (min-width: 760px) {
        padding: 8px 32px 8px 8px;
        background-position: right 8px top 50%, 0 0;
        background-size: 14px auto, 100%;
    }

    option {
        // background-color: pink;
        font-weight: normal;
    }

    &:hover,
    &:focus {
        color: #000;
        // font-size: 12px;
        background-color: #f3f3f3;

        outline: none;
        border: 1px solid #f3f3f3;
        position: relative;
        top: -2px;
        padding-top: 6px;
        padding-bottom: 10px;
    }

    &::-ms-expand {
        display: none;
    }
}

.ah__menu-bar__select-languages::before {
    content: '';
    border-right: 2px solid #d40011;
    border-bottom: 2px solid #d40011;
    width: 5px;
    height: 5px;
    transform: rotate(-45deg) translateY(-50%);
    position: absolute;
    right: 20px;
    top: 50%;
}

#ah__menu-btn {
    display: flex;
    flex-direction: column;
    width: 30px;
    height: 30px;
    margin: 3px;
    cursor: pointer;
    position: relative;
}

.ah__menu-btn__bar {
    min-width: 30px;
    min-height: 5px;
    background-color: #252525;
    margin: 3px 0;

}

.ah__menu-btn__bar.active {
    min-width: 33px;
    //min-height: 5px;
    //background-color: #d40011;
    margin: 3px 0;
    position: absolute;
    top: 50%;
    left: 0;
    transform-origin: 50% 0%;
    display: inline-block;

}

.ah__menu-btn__bar.active:nth-child(1) {
    transform: rotate(45deg) translateY(-50%);
}

.ah__menu-btn__bar.active:nth-child(2) {
    transform: rotate(-45deg) translateY(-50%);
}

.ah__menu-btn__bar.active:nth-child(3) {
    display: none;
}

.ah__main-nav {
    width: 100%;
    padding: 30px 10%;
    background-color: #252525;
    z-index: 199;
    position: relative;
    top: -600px;
    height: auto;
    width: 100%;
    position: fixed;
    transition: 0.5s ease-in-out;
}

.ah__main-nav.expanded {
    top: 50px;
}

.ah__main-nav,
.ah__main-nav__link {
    font-family: sans-serif;
    color: #fff;
    text-decoration: none;
}

.ah__main-nav__list-wrapper {
    display: flex;
    justify-content: space-between;
    background-color: #252525;
    flex-wrap: wrap;


}

.ah__main-nav__display-none {
    display: none;

    @media(min-width: 640px) {
        display: block;
    }

    @media(min-width: 1800px) {
        display: none;
    }

}

.ah__main-nav__columns {
    /*  Make all columns equal width  */
    flex: 1 1 0;
    list-style: none;

}

.ah__main-nav__item {
    margin: 0 20px 10px;
    list-style: none;
    min-width: 210px;

    @media(min-width: 620px) {
        max-width: 210px;
    }
}

.ah__main-nav__item:first-child {
    padding-bottom: 10px;
    border-bottom: 1px solid #757575;
    font-size: 24px;
}

.ah__main-nav__link {
    position: relative;
    line-height: 1.4;
}

.ah__main-nav__link:after {
    position: absolute;
    content: '';
    top: 45%;
    right: -13px;
    border-right: 2px solid #d40011;
    border-bottom: 2px solid #d40011;
    width: 5px;
    height: 5px;
    transform: rotate(-45deg) translateY(-50%);
}

// @media only screen and (max-width: 834px) {
//     .ah__main-nav {
//         padding: 30px 5%;
//     }
// }

// @media only screen and (max-width: 723px) {
//     .ah__main-nav__list-wrapper {
//         flex-direction: column;
//     }

//     .ah__main-nav__item:first-child {
//         padding-top: 16px;
//         font-size: 22px;
//     }
// }