@import "reset";
@import "variables";
@import "menu";
@import "footer";
@import "btns";
@import "font";
@import "cards";
@import "general";
@import "col";
@import "block";

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  height: 100%;
}

body {
  min-height: 100%;
  position: relative;
  padding-bottom: 8rem;
}

main {
  //padding-top: 100px;
  //overflow: auto;
}

/*apply a natural box layout model to all elements*/
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
